.nav-transparent{
    background-color:rgb(0,0,0,0.6);
    color:white;
}
.nav-colored{
    background-color:black;
}
#nav{
    width:100%;
    position:fixed;
    left:0px;
    z-index:20;
}
.nav-link{
    color:white;
}
.navBreak{
    height:42px;
}
.cItem{
    height:34rem; 
    width:auto; 
    object-fit:cover;
}
#cShrimp{
    object-position: 0% -10px;
}
#cSpring{
    object-position: 0% 15%;
}
#cBeef{
    object-position: 0% -10px;
}