.nav-transparent{
    background-color:rgb(56,28,19,0.6);
    color:white;
}
.nav-colored{
    background-color:#381c13;
}
#nav{
    width:100%;
    position:fixed;
    left:0px;
    z-index:20;
}
.nav-link{
    color:white;
}
.navBreak{
    height:100px;
}
body{
    background-color: #feecba;
}
footer{
    padding-top:5px;
    border-top:#381c13 double 4px;
    height: 200px;
}
.nav-link:hover{
    border:white solid 1px;
    color:#FCC532;
    border-radius:50px;
}
img{
    object-fit:cover;
}
.gal3{
    height:18rem;
    width:28rem;
    object-fit:cover;
}
.gal4{
    height:13rem;
    width:21.25rem;
    object-fit:cover;
}
#indexoc{
    object-position:50% 70%;
}
#activen,#activen2{
    color:#FCC532;
}
#activen1{
    color:#FF9505
}
#abbout{
    position:relative;
    background-color: #FCC532;
}
#orderbow{
    position:relative;
    background-color: #FF9505;
}
#galleby{
    position:relative;
    background-color: #D10D1D;
}
#abouttext{
    text-indent:50px;
}
.footerlogo{
    width:11.736rem;
}
.reviewbg{
    background-color:#D10D1D;
    height:20rem;
}
.mealprepdiv{
    color:white;
}
.inlinee{
    display:inline;
}
#mealPrep{
    background-color:#7B221C;
    height:150px;
    width:auto;
    border-top:white solid 3px;
}
button{
    margin:3px;
}
.textbox{
    color:white;
    font-size:80px;
}
.galrow1{
    width:28.2993rem;
    height:16.1547rem;
    object-fit:cover;
}
.copyright{
    font-size:20px;
}
#abouthead{
    margin-top:80px;
}
#aboutlink{
    font-size:110px;
}
#galleryhead{
    margin-top:85px;
}
#gallerylink{
    font-size:80px;
}
/*fonts*/
.delius-swash-caps-regular {
    font-family: "Delius Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
}
.original-surfer-regular {
    font-family: "Original Surfer", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.borel-regular {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
}
.mynerve-regular {
    font-family: "Mynerve", cursive;
    font-weight: 400;
    font-style: normal;
}
.inria-serif-regular {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
}
.inria-serif-bold {
    font-family: "Inria Serif", serif;
    font-weight: 700;
    font-style: normal;
}
.vollkorn{
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}