.nav-transparent{
    background-color:rgb(0,0,0,0.6);
    color:white;
}
.nav-colored{
    background-color:black;
}
#nav{
    width:100%;
    position:fixed;
    left:0px;
    z-index:20;
}
.nav-link{
    color:white;
}
.navBreak{
    height:100px;
}
body{
    min-width:100%;
    min-height:100%;
    position:absolute;
}
footer{
    position:absolute;
    bottom:0px;
}